name: Schedule Python script and deploy to GitHub Pages

on:
  schedule:
    - cron: '0 */3 * * *'  # toutes les 3 heures (UTC)
  workflow_dispatch:


permissions:
  contents: read
  pages: write
  id-token: write
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run script
        run: python main.py

      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3 # Étape cruciale
        with:
          path: _site
          name: gh-pages


  deploy:
      runs-on: ubuntu-latest
      needs: build-and-deploy
      permissions:
        pages: write
        id-token: write
      steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4 # Pas de paramètre "path" ici
          with:
            artifact_name: gh-pages